.RegisterForm__wrapper {
  margin: 10px auto;
  width: 30%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  padding:2% 5%;
  background: rgb(78, 77, 77);
  box-shadow: 0px 0px 3px 0px rgb(0, 0, 0);

    i{
      text-shadow: 1px 1px 2px rgb(72, 228, 10);
      text-align: center;
      padding-bottom: 5%;
      &#icono-login{
        font-size: 36px;
        color: rgb(25, 155, 144);
      }
    }
    label{
      font-size: 14px;
    }
    input{
      color: white;
    }

    select{
      height: 30px;
      text-align-last: center;
      margin-top: 10px;
      margin-bottom: 30px;
      &:hover{
        font-weight: 500;
      }
    }
  }

.RegisterForm__error_msg {
  color: rgba(255, 0, 0, 0.459);
  text-shadow: 0.2px 0.2px rgb(121, 2, 2);
  font-weight: 500;
}